body{
    font-family: canada-type-gibson,   sans-serif;
}
.blockText{
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    padding-bottom: 25px;
}
.checkBox{
    border-radius: 8px;
    margin-right: 10px;
}

.colorBtn{
    border-radius: 4px;
    background: #00F6FF;
    text-align: left;
    letter-spacing: 0px;
    font-weight: 600;
    //border-color: #00F6FF;
    transition-property: background;
    transition-duration: .5s;
    
}

.colorBtn:hover{
    background:#ce21ff;

}
.colorT{
    color: #230C87;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
.colorT:hover{
    color: white;
}

.connectCont{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFFFFF38;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 20px 55px 20px 25px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.custRow{
    display: flex;
    flex-wrap: wrap;
}

.formColumn{
    display: flex;
    flex-direction: column;
}
.formCont{
    width: 850px;
    padding: 3rem;
    margin-bottom: 2rem;
}
.formContInline{
    width: 75%;
    display: inline;
}
.gradientBG{
    background: transparent linear-gradient(149deg, #096182 0%, #1A0D85 47%, #6D0094 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
h6{
    font-size: 2rem;
}
.invisible{
    color:rgba(0, 0, 0, 0);
}
.labelInline{
    display: inline;
}
.labelText{
    font-weight: 500;
    line-height: 1.2;
}
.padding-top-rem{
    padding-top: 2.4rem;
}
.paddingSpace{
    padding-top: 70px;
}
.small{
    display: none;
}
.stepsCentering{
    margin-left: -6px !important;
}
.stepsContainer{
    position: absolute;
    top: 35px;
    left: -60px;
    width: 80px;
    z-index: 2;
    padding: 5px 30px 5px 30px;
}
.stepsContainer h6{ 
    margin: 0 !important;
}
.stepsContainer p{
    margin: 0;
}
.white{
    color: white;
}

@media only screen and (max-width: 385px) {
    .blockText{
        width: 20rem;
    }
    .dnDisplay{
        display: none;
    }
    .formCont{
        // width: 355px;
        width: 345px;
        //margin: 0 5px 0 5px;
    }
    .other{
        margin-top: 38px;
    }
    .small{
        font-size: 16px;
        margin-top: 30px;
        display: flex;
    }
    .stepsContainer{
        //left: 130px !important;
        width: 70px;
        height: 70px;
        padding: 5px 10px 5px 25px;
        left: 272px !important;
        top: -2px !important;
    }
}

@media only screen and (min-width:386px) and(max-width: 575px) {
    .stepsContainer{
        position: absolute;
        width: 80px;
        z-index: 2;
        padding: 5px 30px 5px 30px;
        top: -30px;
        left: 150px;
    }
  }