.footer-gradient{
    height: 140px;
    background: transparent linear-gradient(97deg, #096182 0%, #1A0D85 47%, #6D0094 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.left{
    float: left;
    display: flex; 
    justify-content: space-evenly; 
}
.right{
    float: right;
    display: flex; 
    justify-content: space-evenly; 
}
.white{
    color: white;
}