<footer class="footer-gradient">
  <div class="container pt-5">
    <div class="col-6 left">
      <img src="../assets/png/facebook.png" href="#">
      <img src="../assets/png/twitter.png" href="#">
      <img src="../assets/png/instagram.png" href="#">
      <h3 class="white">© 2021 CONNECT STOCKTON</h3>
    </div>
    <div class="col-6 right">
      <img src="../assets/png/sjcoe.png" href="#">
      <img src="../assets/png/codestack.png" href="#">
    </div>
  </div>
    <!-- <nav class="navbar navbar-expand-lg footer-gradient">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <img src="/Connect-Stockton/src/assets/png/facebook.png" href="#">
            </li>
            <li class="nav-item">
              <img src="/Connect-Stockton/src/assets/png/twitter.png" href="#">
            </li>
            <li class="nav-item">
              <img src="/Connect-Stockton/src/assets/png/instagram.png" href="#">
            </li>
          </ul>
          <h3>© 2021 CONNECT STOCKTON</h3>
          <span class="navbar-text">
            <ul class="navbar-nav right">
                <li class="nav-item active">
                  <img src="/Connect-Stockton/src/assets/png/sjcoe.png" href="#">
                </li>
                <li class="nav-item">
                  <img src="/Connect-Stockton/src/assets/png/codestack.png" href="#">
                </li>
              </ul>
          </span>
        </div>
      </nav> -->
    
</footer>