<div class="header navbar-gradient">
  <div class="container">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between">

      <div>
        <img src="../assets/png/logo.png" (click)="goHome()">
      </div>

      <!-- <button class="navbar-toggler whiteBG" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <i class="fas fa-bars"></i>
    </button>

      <div class="navbar-collapse collapse " [ngClass]="{'hide': isMenuCollapsed, 'show': !isMenuCollapsed}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link white" href="/home">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="#">MISSION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="#">RESOURCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="http://www.google.com">REQUIREMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white" href="/signup">GET CONNECTED</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</div>