<div class="header navbar-gradient">
  <div class="container">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between">

      <div>
        <img src="../assets/png/facebook.png" href="">
        <h2 class="navbar-brand" href="#">Connect Stockton Logo</h2>
      </div>

      <div>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link white" href="#">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="#">MISSION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="#">RESOURCES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="http://www.google.com">REQUIREMENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white" href="/signup">GET CONNECTED</a>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </div>
</div>