.fa-bars{
    color: white;
}
.header{
    z-index: 9001;
}
.navbar-gradient{
    background: transparent linear-gradient(97deg, #096182 0%, #1A0D85 47%, #6D0094 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 26px #00000029;
    opacity: 1;
    width: 100%;
}

.right{
    float: right;
}
.white{
    color: white;
}
.whiteBG{
    background: white;
}