.blockText{
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}
.blue{
    color: #678BFB;
}
.buildingsIMG{
    width: 100%;
    margin-top: -35px;
}
.checkBox{
    border-radius: 8px;
    margin-right: 10px;
}
.colorBtn{
    border-radius: 4px;
    background: #00F6FF;
    text-align: left;
    letter-spacing: 0px;
    font-weight: 600;
    //border-color: #00F6FF;
    transition-property: background;
    transition-duration: .5s;
    
}

.colorBtn:hover{
    background:#ce21ff;

}
.colorT{
    color: #230C87;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
.colorT:hover{
    color: white;
}
.connectCard{
    border-radius: 30px;
    opacity: 1;
    color: white;
    padding: 75px 45px 45px 45px;
    margin-bottom: 75px;
}
.connectCardB{
    background: transparent linear-gradient(180deg, #85A4F9 0%, #43527D 100%) 0% 0% no-repeat padding-box;
}
.connectCardG{
    background: transparent linear-gradient(180deg, #34F3F8 0%, #1A7A7C 100%) 0% 0% no-repeat padding-box;
}
.connectCardP{
    background: transparent linear-gradient(180deg, #E283F9 0%, #71427D 100%) 0% 0% no-repeat padding-box;
}
// .custRow{
//     display: flex;
//     //flex-wrap: wrap;
//     gap: 15px;
//     margin-bottom: 125px;
// }
.expand{
    width: 100;
}
.fifty{
    justify-content: center;
    width: 50%;
    padding: 25px;
}
.formInline{
    display: inline-block;
}
.gradetext {
    //font-size: 72px;
    background-image: linear-gradient(119deg, #00F6FF, #EE00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 900;
    line-height: .9;
}
.gradientBG{
    background: transparent linear-gradient(119deg, #096182 0%, #1A0D85 47%, #6D0094 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 65px 0 145px 0;
}
.gradientBG2{
    background: transparent radial-gradient(closest-side at 50% -20%, #0070B0 0%, #004F7F 31%, #00223B 78%) 0% 0% no-repeat padding-box;
    opacity: 1; 
    padding: 65px 0 145px 0;
}
.groupIMG{
    width: 100%;
    margin-top: -35px;
}
.labelInline{
    display: inline;
}
.lgText{
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 900;
}
.lgText.blue{
    text-align: start;
}
.lgText.white{
    padding-bottom: 95px;
}
.lower{
    margin-top: 90px;
}
.purple{
    color: #680093;
}
// .resourcesCont{
//     position: relative;
// }
.resourcesIMG{
    margin-top: -195px;
    margin-left: 180px;
    width: 30%;
    z-index: 2;
}
.resourcesIMG2{
    margin-top: -185px;
    margin-left: 174px;
    width: 35%;
    z-index: 2;
}
.requirements{
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.row.card-cont{
    gap: 25px;
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
}
.transparentBtn{
    border-radius: 4px;
    background: transparent 0% 0% no-repeat padding-box;
    text-align: left;
    letter-spacing: 0px;
    color: #00F6FF;
    border-color: #00F6FF;
    font-weight: 600;
    transition-property: color;
    transition-property: border-color;
    transition-duration: .5s;
}
.transparentBtn:hover{
    border-color: #ce21ff;
    color: #ce21ff;
}
.transparentBtn2{
    border-radius: 4px;
    background: transparent 0% 0% no-repeat padding-box;
    text-align: left;
    letter-spacing: 0px;
    color: white;
    border-color: white;
    font-weight: 600;
    transition-property: background;
    transition-duration: .5s;
}
.transparentBtn2:hover{
    background: black;
}
.white{
    color: white;
}
.whiteBG{
    background: white;
    padding: 65px 0 90px 0;
}


@media only screen and (max-width: 385px) {
    .blockText{
        width: 20rem;
    }
    .buildingsIMG{
        margin-top: 15px;
    }
    .colorBtn{
        width: 100%;
        text-align: center;
    }
    .gradetext{
        font-size: 2.9rem;
        text-align: center;
    }
    .gradientBG{
        padding: 0 0 55px 0;
    }
    .gradientBG2{
        padding: 35px 0 35px 0;
    }
    .groupIMG{
        margin-top: 15px;
    }
    h3{
        font-size: 1.65rem;
        text-align: center;
    }
    .lgText.blue{
        text-align: center;
    }
    .lgText.white{
        padding-bottom: 70px;
    }
    .lower{
        margin-top: 20px;
    }
    p{
        text-align: center;
    }
    .row.card-cont{
        gap: 10px;
        grid-template-columns: 1fr;
        padding: 0 15px 0 15px;
    }
    .transparentBtn{
        width: 100%;
        margin: 10px 0 0 0 !important;
        text-align: center;
    }
    .transparentBtn2{
        width: 100%;
        text-align: center;
    }
    .white{
        text-align: center;
    }
    .whiteBG{
        padding: 25px 0 25px 0;
    }
}
//767 991