<div class="container">

    <div class="col-12">
        <div class="custRow gradientBG">
            <div class="container">
                <div class="custRow">
                    <div class="col-4 mr-0">
                        <div class="gradetext">
                            Free High Speed Internet for Stocktonians
                        </div>
                        <p class="white">Stockton residents who meet income requirements can apply for free broadband
                            internet to their household.</p>
                        <button class="colorBtn" (click)="getConnected()">GET CONNECTED</button>
                        <button class="transparentBtn" (click)="viewRequirements()">VIEW REQUIREMENTS</button>
                    </div>
                    <div class="col-8 buildings">
                        <img class="buildingsIMG" src="../assets/png/buildings.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custRow whiteBG">
        <div class="container ">
            <div class="custRow">
                <div class="col-8">
                    <img class="groupIMG" src="../assets/png/group.png" />
                </div>
                <div class="col-4">
                    <h2 class="lgTextBlue">Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar justo non quam
                        sollicitudin porta. Quisque ut dapibus sapien. Mauris lobortis felis in sem suscipit pretium.
                        Suspendisse pulvinar fringilla lorem, eget pulvinar dolor pellentesque eget.</p>
                </div>
            </div>
            <div class="custRow">
                <div class="col-4">
                    computer
                    <h4>Missiion Heading 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar justo non quam
                        sollicitudin porta. Quisque ut dapibus sapien. Mauris lobortis felis in sem suscipit pretium.
                        Suspendisse pulvinar fringilla lorem, eget pulvinar dolor pellentesque eget.</p>
                </div>
                <div class="col-4">
                    cell phone
                    <h4>Missiion Heading 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar justo non quam
                        sollicitudin porta. Quisque ut dapibus sapien. Mauris lobortis felis in sem suscipit pretium.
                        Suspendisse pulvinar fringilla lorem, eget pulvinar dolor pellentesque eget.</p>
                </div>
                <div class="col-4">
                    signal tower
                    <h4>Missiion Heading 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar justo non quam
                        sollicitudin porta. Quisque ut dapibus sapien. Mauris lobortis felis in sem suscipit pretium.
                        Suspendisse pulvinar fringilla lorem, eget pulvinar dolor pellentesque eget.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="custRow gradientBG2">
        <div class="container">
            <div class="col-12">
                <h2 class="lgTextWhite">Resources</h2>
            </div>
            <div class="custRow">
                <div class="col-4 connectCardB">
                    <img class="resourcesIMG" src="../assets/png/computer.png" />
                    <h3>CASE STUDIES & BROADBAND ADOPTION TOOLKIT</h3>
                    <p>Read our case studies and our broadband adoption toolkit about our on-the-ground work in the
                        United
                        States.</p>
                    <div style="display: flex; align-items: flex-end;">
                        <button class="transparentBtn2">VIEW CASE STUDIES & TOOLKIT</button>
                    </div>
                </div>
                <div class="col-4 connectCardG">
                    <img class="resourcesIMG2" src="../assets/png/server.png" />
                    <h3>LIFELINE RESOURCES</h3>
                    <p class="m-0">Learn more about Lifeline</p>
                    <p> ,a Federal Communications Commission subsidy, which has the
                        potential to get million of more people in the United States online.</p>
                    <div style="display: flex; align-items: flex-end;">
                        <button class="transparentBtn2">VIEW LIFELINE RESOURCES</button>
                    </div>
                </div>
                <div class="col-4 connectCardP">
                    <img class="resourcesIMG2" src="../assets/png/desk.png" />
                    <h3>DIGITAL INCLUSION RESEARCH AND TOPICS</h3>
                    <p>Read research on digital inclusion, the digital divide, and how the internet impacts public and
                        private sectors across the United States.</p>
                    <div style="display: flex; align-items: flex-end;">
                        <button class="transparentBtn2">VIEW DIGITAL INCLUSION</button>
                    </div>
                </div>
            </div>
            <div class="custRow">
                <div class="col-4 connectCardP">
                    <img class="resourcesIMG2" src="../assets/png/desk.png" />
                    <h3>DIGITAL INCLUSION RESEARCH AND TOPICS</h3>
                    <p>Read research on digital inclusion, the digital divide, and how the internet impacts public and
                        private sectors across the United States.</p>
                    <button class="transparentBtn2">VIEW DIGITAL INCLUSION</button>
                </div>
                <div class="col-4 connectCardB">
                    <img class="resourcesIMG" src="../assets/png/computer.png" />
                    <h3>CASE STUDIES & BROADBAND ADOPTION TOOLKIT</h3>
                    <p>Read our case studies and our broadband adoption toolkit about our on-the-ground work in the
                        United
                        States.</p>
                    <button class="transparentBtn2">VIEW CASE STUDIES & TOOLKIT</button>
                </div>
                <div class="col-4 connectCardG">
                    <img class="resourcesIMG2" src="../assets/png/server.png" />
                    <h3>LIFELINE RESOURCES</h3>
                    <p class="m-0">Learn more about Lifeline</p>
                    <p>,a Federal Communications Commission subsidy, which has the
                        potential to get million of more people in the United States online.</p>
                    <button class="transparentBtn2 mb-2">VIEW LIFELINE RESOURCES</button>
                </div>
            </div>
        </div>
    </div>

    <div class="custRow whiteBG">
        <div class="container">
            <div class="col-12">
                <h2 class="lgTextBlue">Requirements</h2>
            </div>
            <div class="col-12">
                <p>Households who participate in any of the following programs may qualify for free or discounted
                    broadband internet to their household.
                </p>
            </div>
            <form>
                <div class="col-6 m-0 formInline">
                    <div>
                        <input class="checkBox" type="checkbox" id="lowIncome" name="lowIncome" value="">
                        <label class="labelInline" for="lowIncome">Low-income (household of four: at or below $49,000
                            annual income)</label>
                        <hr>
                    </div>
                    <diV>
                        <input class="checkBox" type="checkbox" id="publicHousing" name="publicHousing" value="">
                        <label class="labelInline" for="publicHousing">Live in public housing</label>
                        <hr>
                    </diV>
                    <diV>
                        <input class="checkBox" type="checkbox" id="studentAtHome" name="studentAtHome" value="">
                        <label class="labelInline" for="studentAtHome">Have a K-12 student or college student in your
                            household</label>
                        <hr>
                    </diV>
                    <diV>
                        <input class="checkBox" type="checkbox" id="freeLunch" name="freeLunch" value="">
                        <label class="labelInline" for="freeLunch">Participate in the National School Lunch Program
                            (free or reduced lunch at school)</label>
                        <hr>
                    </diV>
                    <diV>
                        <input class="checkBox" type="checkbox" id="SNAP" name="SNAP" value="">
                        <label class="labelInline" for="SNAP">Participate in Supplemental Nutrition Assistance Program
                            (food stamps or CalFresh)</label>
                        <hr>
                    </diV>
                    <diV>
                        <input class="checkBox" type="checkbox" id="TNAF" name="TNAF" value="">
                        <label class="labelInline" for="TNAF">Participate in Temporary Assistance for Needy Families
                            Program - TANF (or CalWorks)</label>
                        <hr>
                    </diV>
                    <diV>
                        <input class="checkBox" type="checkbox" id="SSI" name="SSI" value="">
                        <label class="labelInline" for="SSI">Participate in Supplemental Security Income (SSI)</label>
                        <hr>
                    </diV>
                </div>

                <div class="col-6 m-0 d-inline-block formInline">
                    <div>
                        <input class="checkBox" type="checkbox" id="medicAid" name="medicAid" value="">
                        <label class="labelInline" for="medicAid">Participate in Medicaid or Medi-Cal</label>
                        <hr>
                    </div>
                    <div>
                        <input class="checkBox" type="checkbox" id="WIC" name="WIC" value="">
                        <label class="labelInline" for="WIC">Participate in Women, Infants, and Children (WIC)</label>
                        <hr>
                    </div>
                    <div>
                        <input class="checkBox" type="checkbox" id="headStart" name="headStart" value="">
                        <label class="labelInline" for="headStart">Participate in Head Start</label>
                        <hr>
                    </div>
                    <div>
                        <input class="checkBox" type="checkbox" id="LIHEAP" name="LIHEAP" value="">
                        <label class="labelInline" for="LIHEAP">Participate in Low Income Home Energy Assistance Program
                            (LIHEAP)</label>
                        <hr>
                    </div>
                    <div>
                        <input class="checkBox" type="checkbox" id="veteransPension" name="veteransPension" value="">
                        <label class="labelInline" for="veteransPension">Participate in Veterans Pension and Survivor
                            Benefits</label>
                        <hr>
                    </div>
                    <div>
                        <input class="checkBox" type="checkbox" id="CEP" name="CEP" value="">
                        <label class="labelInline" for="CEP">Participate in Community Eligibility Provision
                            (CEP)</label>
                        <hr>
                    </div>
                    <div>
                        <input class="checkBox" type="checkbox" id="indianAffairs" name="indianAffairs" value="">
                        <label class="labelInline" for="indianAffairs">Bureau of Indian Affairs</label>
                        <hr>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <h3>To see which programs and packages you qualify for:</h3>
            </div>
            <div class="d-flex justify-content-center">
                <button class="colorBtn">BEGIN QUESTIONNAIRE</button>
            </div>
        </div>
    </div>

</div>