<div class="gradientBG">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="gradetext">
                    FREE HIGH SPEED INTERNET FOR STOCKTONIANS
                </div>
                <p class="white">Stockton residents who meet income requirements can apply for free
                    broadband
                    internet to their household.</p>
                <button class="colorBtn btn mr-2" (click)="getConnected()">GET CONNECTED</button>
                <button class="transparentBtn btn ml-2" (click)="viewRequirements()">VIEW REQUIREMENTS</button>
            </div>
            <div class="col-md-6 buildings">
                <img class="buildingsIMG" src="../assets/png/buildings.png" />
            </div>
        </div>
    </div>
</div>

<div class="whiteBG">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <img class="groupIMG" src="../assets/png/group.png" />
            </div>
            <div class="col-md-4">
                <h2 class="lgText blue">OUR MISSION</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar justo non quam
                    sollicitudin porta. Quisque ut dapibus sapien. Mauris lobortis felis in sem suscipit
                    pretium.
                    Suspendisse pulvinar fringilla lorem, eget pulvinar dolor pellentesque eget.</p>
            </div>
        </div>
    </div>
</div>

<div class="gradientBG2">
    <div class="container">
        <div class="col-12">
            <h2 class="lgText white">RESOURCES</h2>
        </div>
        <div class="row card-cont">
            <div class=" connectCard connectCardB">
                <img class="resourcesIMG" src="../assets/png/computer.png" />
                <h3>CASE STUDIES & BROADBAND ADOPTION TOOLKIT</h3>
                <p>Read our case studies and our broadband adoption toolkit about our on-the-ground work in the
                    United
                    States.</p>
                <div class="d-flex align-items-end">
                    <button class="transparentBtn2 btn">VIEW CASE STUDIES & TOOLKIT</button>
                </div>
            </div>
            <div class=" connectCard connectCardG">
                <img class="resourcesIMG2" src="../assets/png/server.png" />
                <h3>LIFELINE RESOURCES</h3>
                <p><a>Learn more about Lifeline</a>, a Federal Communications Commission subsidy, which has the
                    potential to get million of more people in the United States online.</p>
                <div class="d-flex align-items-end">
                    <button class="transparentBtn2 btn">VIEW LIFELINE RESOURCES</button>
                </div>
            </div>
            <div class=" connectCard connectCardP">
                <img class="resourcesIMG2" src="../assets/png/desk.png" />
                <h3>DIGITAL INCLUSION RESEARCH AND TOPICS</h3>
                <p>Read research on digital inclusion, the digital divide, and how the internet impacts public
                    and
                    private sectors across the United States.</p>
                <div class="d-flex align-items-end">
                    <button class="transparentBtn2 btn">VIEW DIGITAL INCLUSION</button>
                </div>
            </div>
            <div class=" connectCard connectCardP">
                <img class="resourcesIMG2" src="../assets/png/desk.png" />
                <h3>DIGITAL INCLUSION RESEARCH AND TOPICS</h3>
                <p>Read research on digital inclusion, the digital divide, and how the internet impacts public
                    and
                    private sectors across the United States.</p>
                <button class="transparentBtn2 btn">VIEW DIGITAL INCLUSION</button>
            </div>
            <div class=" connectCard connectCardB">
                <img class="resourcesIMG" src="../assets/png/computer.png" />
                <h3>CASE STUDIES & BROADBAND ADOPTION TOOLKIT</h3>
                <p>Read our case studies and our broadband adoption toolkit about our on-the-ground work in the
                    United
                    States.</p>
                <button class="transparentBtn2 btn">VIEW CASE STUDIES & TOOLKIT</button>
            </div>
            <div class=" connectCard connectCardG">
                <img class="resourcesIMG2" src="../assets/png/server.png" />
                <h3>LIFELINE RESOURCES</h3>
                <p><a>Learn more about Lifeline</a>, a Federal Communications Commission subsidy, which has the
                    potential to get million of more people in the United States online.</p>
                <button class="transparentBtn2 btn mb-2">VIEW LIFELINE RESOURCES</button>
            </div>
        </div>
    </div>
</div>

<div class="whiteBG">
    <div class="container">
        <div class="col-12">
            <h2 class="lgText purple">REQUIREMENTS</h2>
        </div>
        <div class="col-12">
            <p class="blockText text-center pb-3">Households who participate in any of the following programs may qualify for free or
                discounted broadband internet to their household.
            </p>
        </div>
        <div class="row requirements">

            <div class="fifty">
                <div>
                    <label class="labelInline" for="lowIncome">Low-income (household of four: at or below
                        $49,000 annual income)</label>
                    <hr>
                </div>
                <diV>
                    <label class="labelInline" for="publicHousing">Live in public housing</label>
                    <hr>
                </diV>
                <diV>
                    <label class="labelInline" for="studentAtHome">Have a K-12 student or college student in
                        your household</label>
                    <hr>
                </diV>
                <diV>
                    <label class="labelInline" for="freeLunch">Participate in the National School Lunch Program
                        (free or reduced lunch at school)</label>
                    <hr>
                </diV>
                <diV>
                    <label class="labelInline" for="SNAP">Participate in Supplemental Nutrition Assistance
                        Program (food stamps or CalFresh)</label>
                    <hr>
                </diV>
                <diV>
                    <label class="labelInline" for="TNAF">Participate in Temporary Assistance for Needy Families
                        Program - TANF (or CalWorks)</label>
                    <hr>
                </diV>
                <diV>
                    <label class="labelInline" for="SSI">Participate in Supplemental Security Income
                        (SSI)</label>
                    <hr>
                </diV>
            </div>

            <div class="fifty">
                <div>
                    <label class="labelInline" for="medicAid">Participate in Medicaid or Medi-Cal</label>
                    <hr>
                </div>
                <div>
                    <label class="labelInline" for="WIC">Participate in Women, Infants, and Children
                        (WIC)</label>
                    <hr>
                </div>
                <div>

                    <label class="labelInline" for="headStart">Participate in Head Start</label>
                    <hr>
                </div>
                <div>
                    <label class="labelInline" for="LIHEAP">Participate in Low Income Home Energy Assistance
                        Program (LIHEAP)</label>
                    <hr>
                </div>
                <div>
                    <label class="labelInline" for="veteransPension">Participate in Veterans Pension and
                        Survivor Benefits</label>
                    <hr>
                </div>
                <div>
                    <label class="labelInline" for="CEP">Participate in Community Eligibility Provision
                        (CEP)</label>
                    <hr>
                </div>
                <div>
                    <label class="labelInline" for="indianAffairs">Bureau of Indian Affairs</label>
                    <hr>
                </div>
            </div>
        </div>

        <div class="text-center pt-1 pb-3">
            <h3>To see which programs and packages you qualify for:</h3>
        </div>
        <div class="d-flex justify-content-center">
            <button class="colorBtn btn">BEGIN QUESTIONNAIRE</button>
        </div>
    </div>
</div>